In [13]:
import pandas as pd
import numpy as np
import pickle_funcs as pk

I'm going to write a function which adds values to the data object and writes over the old one.

In [39]:
new_data = pd.read_table('speeding.txt', index_col=1)

In [40]:
new_data.head()

         Obs.  speeding  Unnamed: 3
casenum
575         1         0         NaN
2536        2         0         NaN
684         3         0         NaN
17          4         0         NaN
758         5         1         NaN

In [41]:
del new_data['Unnamed: 3'] # there are tabs at the end of these files, just have to delete a column
del new_data['Obs.'] # there are tabs at the end of these files, just have to delete a column

In [42]:
new_data.head() # Now there is a dataframe which has only casenum and speeding

         speeding
casenum
575             0
2536            0
684             0
17              0
758             1

In [37]:
new_data.loc[575, 'speeding']

casenum
575    0
575    0
575    0
575    0
575    1
575    0
575    0
575    0
575    1
575    1
575    0
575    0
575    0
575    1
575    0
575    0
575    1
575    0
575    1
575    0
Name: speeding, dtype: int64

In [22]:
# Load the main dataframe
data = pk.unpickle_object('data')
data.head()

      casenum   accdate  acctime
Obs.
1         952   6022015     1700
2         150   8142015      609
3         546   8222015      905
4         164  10142015      100
5         238   5022015     1246

In [30]:
# Add an empty column to the dataframe
empty = []
for i in range(len(data.index)):
    empty.append('NA')

data['speeding'] = empty

In [31]:
data.head()

      casenum   accdate  acctime speeding
Obs.
1         952   6022015     1700       NA
2         150   8142015      609       NA
3         546   8222015      905       NA
4         164  10142015      100       NA
5         238   5022015     1246       NA

In [32]:
data.iloc[1, 0]

150

In [ ]:

for row in range(len(data.index)):
    
    case_num = data.iloc[row, 0]
    speeding_bool =

# Write Object to File