In [1]:
import pandas as pd
import numpy as np
import pickle_funcs as pk

I'm getting this data from the [NHTSA](https://www-fars.nhtsa.dot.gov/QueryTool/QuerySection/SelectYear.aspx)

I could just do a massive data dump, but I'm not sure this makes sense. It seems better to build on columns as needed. 

Apparently it isn't possible to do multiyear queries? This makes time series annoying but that isn't too bad (are time series really central to this sort of analysis?)

I realized that the case numbers are not unique, which means that it would be hard to append in new columns. May be able to match the case number, state number, and some other identifier if needing to append a new column, but I don't think I'm going to do this at the moment. 

Process for pulling more data:

* Select a year from the dropdown in the above link
* Option 1 in the second screen probably makes the most sense 
* Select crashes fields (I'm not looking at others at the moment). 
* Select "Case Listing"
* Deselect "State" and make sure that only Case Number is selected.
* Select output stats
* Name the export
* Preview data
* Export via txt (gets a tab seperated value)

I'm going to create a main table and add columns to this as I continue analyzing. 

Creating the main table:

In [2]:
data = pd.read_table('crashes_date_time.txt', index_col=0)

In [3]:
del data['Unnamed: 4'] # there are tabs at the end of these files, just have to delete a column

In [4]:
data.head()

      casenum   accdate  acctime
Obs.
1         952   6022015     1700
2         150   8142015      609
3         546   8222015      905
4         164  10142015      100
5         238   5022015     1246

# Write Object to File

In [6]:
# Write this to a pickle file, creating the main data file. 
# Can't test to see if the dataframes are exactly the same because of issues with Pandas

pk.pickle_object(data, 'data', test=False)

In [20]:
# Load the pickled dataframe to test
new_data = pk.unpickle_object('data')

In [22]:
# vector operation on dataframes, return array with True in cell if don't match
test = new_data.values != data.values
test.sum()

0